.ads-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.price {
  background-color: #eee;
  text-align: center;
  color: rgb(0, 170, 0);
}

@media (max-width: 767px) {
  .ads-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}
